<?xml version="1.0" encoding="utf-8"?>
<!--
    v2.2.1 虚拟屏服务端。
    本 APK 从不安装到系统:产物改名 muse-vd-server.jar 由主应用分发到 /data/local/tmp,
    以 shell uid 的 app_process 进程运行(CLASSPATH 加载其中的 classes.dex)。
    因此不需要任何组件声明。
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="Muse VD Server" />
</manifest>
